@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

h1 {
	margin: 40px 0;
}

.person-list {
	border: 1px solid #eee;
	padding: 40px;
}

.contact-info-list {
	background-color: #eee;
	padding: 40px;
}
